@import "../components/global/_global";

.container {
  min-height: 100vh;
  position: relative;

  @include breakpoint-small {
  }

  &__flex {
    @include default-flex;
  }

  &__grid {
    @include default-grid;
  }
}

.container__absolute {
  position: absolute;
  width: 100%;
  overflow: hidden !important;
}
