@import "../components/global/_global";

.container {
  min-height: 100vh;
  position: relative;
  padding: $size-four 0;
  background-color: $background-black;

  @include breakpoint-small {
    width: 80%;
    margin: auto;
  }

  &__flex {
    @include default-flex;
  }

  &__grid {
    @include default-grid;
  }
}

.container__absolute {
  position: absolute;
  width: 100%;
  overflow: hidden !important;
}
